<div class="text-center" style="color:white; padding: 1.3rem;
font-family: sans-serif;"><mat-icon svgIcon="home" style="height: 18px;"></mat-icon> Home</div>

<mat-accordion>
   
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
           
            Infrastructure Management
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
          <mat-list-item role="listitem"><a href="#">Mine Map</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#">Network Monitoring</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#">Network Devices</a></mat-list-item>
        </mat-list>

    </mat-expansion-panel>
  

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Safety and Proximity
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tracking
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Productivity
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
  </mat-accordion>
